.button {
    padding: 2px;
    border-radius: 5px;
    width: 200px;
    background: #fff;
    color: #111;
    font-family: 'Pacifico';
    font-size: 1.1rem;
}

.button:hover,
.button:focus {
    background-color: #fefefe;
    color: #777;
}
